<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlurrySDK" version="3.1.2" targetFramework="wpa81" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="wpa81" />
  <package id="QKit" version="0.3.1" targetFramework="wpa81" />
  <package id="RateMyApp" version="1.1.0" targetFramework="wpa81" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wpa81" />
</packages>